table{
	border-collapse: collapse;
}

#pageSurround{
	position:relative;
	top:10%;
}

/* #characters{
	position:absolute;
	left:3%;
	width:15%;
}

#characters td{
	text-align: right;
	border:solid 5px black;
	padding: 4px;
}
 */
 
#dataSurround{
	border:solid 5px black;
	position:relative;
	padding:5px;
	left:18%;
	width:75%;
	height:80%;
	min-height:470px;
}

#data{
	width:100%;
}

#bottomBar{
	position:relative;
	border:solid 2px black;
	top:2px;
	left:18%;
	width:75%;
	padding:8px;
}

#bottomBar input{
	position:relative;
	left:70%;
}