table{
	border-collapse: collapse;
}

#pageSurround{
	position:relative;
	top:10%;
}
 
#dataSurround{
	border:solid 5px black;
	position:relative;
	padding:5px;
	left:18%;
	width:75%;
	height:80%;
	min-height:470px;
}

#allchars{
	font-weight: bold;
}

#data{
	width:100%;
}

#comboCol{
	width:22%;
}

#bottomBar{
	position:relative;
	width:100%;
}